.sidenav {
  width: 100%;
  height: 100vh;
  background: #066163;
  padding-top: 8rem;
  font-size: 1.5rem;
  color: #f4f4f4;
  position: sticky;
  top: 0;
}

.option {
  text-align: left;
  width: 100%;
  padding: 0.6rem 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid #f4f4f4;
  border-left: none;
  border-right: none;

  &:hover {
    background: #044d4f;
    cursor: pointer;
  }
}

.border {
  margin: 1rem auto 1.5rem auto;
  width: 95%;
  border: 1px solid #FF5F00;
}