/* tailwind stuff */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

.chrome-picker {
  width: 100% !important;
  margin: 1rem;
  box-shadow: none !important;

  &> :nth-child(2) {
    &> :nth-child(2) {
      display: none !important;
    }
  }
}

.dashboard-height {
  height: 100vh;
}

.max-card-height {
  max-height: 50%;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
}